<div class="container" id="sectionOne">
    <div class="row">
        <div class="text-center mt-5">
            <input type="text" class="form-control m-1" [(ngModel)]="val" placeholder="ادخل اسم المتوفي">
            <button class="btn btn-success m-1" (click)="writeName()"><i class="fas fa-long-arrow-alt-left"></i></button>
        </div>
        <ul *ngIf="display">
            <li>اللهم ابدل <span> {{x}} </span> دارا خيرا من دارها واهلا خيرا من اهلها وادخلها الجنة واعذها من عذاب القبر ومن عذاب النار .</li>
            <li>اللـهـم عامل <span> {{x}} </span> بما انت اهله ولا تعاملها بما هيا اهله .</li>
            <li>اللـهـم اجز <span> {{x}} </span> عن الاحسان إحسانا وعن الأساءة عفواً وغفراناً.</li>
            <li>اللـهـم إن كانت <span> {{x}} </span> محسنة فزد من حسناتها , وإن كانت مسيئة فتجاوز عن سيئاتها .</li>
            <li>اللـهـم ادخل <span> {{x}} </span> الجنة من غير مناقشة حساب ولا سابقة عذاب .</li>
            <li>اللـهـم اّنس <span> {{x}} </span> في وحدتها وفي وحشتها وفي غربتها.</li>
            <li>اللـهـم انزل <span> {{x}} </span> منزلاً مباركا وانت خير المنزلين .</li>
            <li>اللـهـم انزل <span> {{x}} </span> منازل الصديقين والشهداء والصالحين وحسن اولئك رفيقا .</li>
            <li>اللـهـم اجعل  قبر<span> {{x}} </span> روضة من رياض الجنة ,ولا تجعله حفرة من حفر النار .</li>
            <li>اللـهـم افسح ل <span>{{x}}</span> في قبرها و مد بصرها وافرش قبرها من فراش الجنة .</li>
            <li>اللـهـم اعذ <span> {{x}} </span> من عذاب القبر ,وجاف ِالارض عن جنبيها.</li>
            <li>اللـهـم املأ قبر<span> {{x}} </span> بالرضا والنور والفسحة والسرور.</li>
            <li>اللـهـم إن <span> {{x}} </span> فى ذمتك وحبل جوارك فقها فتنة القبر وعذاب النار , وانت أهل الوفاء والحق فاغفر لها وارحمها انك انت الغفور الرحيم.</li>
            <li>اللـهـم ان <span> {{x}} </span> عبدك وابن عبدك خرجت من الدنيا وسعتها ومحبوبيها وأحبائها إلي ظلمة القبر وماهي لاقيه .</li>
            <li>اللـهـم ان <span> {{x}} </span> كانت تشهد أنك لا إله الا انت وأن محمداً عبدك ورسولك وانت اعلم بها.</li>
            <li>اللهم ثبت <span> {{x}} </span> عند السؤال.</li>
            <li>اللهم انا نتوسل بك اليك ونقسم بك عليك ان ترحم <span> {{x}} </span> ولا تعذبها.</li>
            <li>اللـهـم ان <span> {{x}} </span> نَزَلت بك وأنت خير منزول بها واصبحت فقيرة الي رحمتك وأنت غني عن عذابها .</li>
            <li>اللـهـم اّت <span> {{x}} </span> برحمتك ورضاك وقها فتنه القبر وعذابه و أّتها برحمتك الامن من عذابك حتي تبعثها إلي جنتك يا أرحم الراحمين .</li>
            <li>اللـهـم انقل <span> {{x}} </span> من مواطن الدود وضيق اللحود إلي جنات الخلود .</li>
            <li>اللـهـم إحم <span> {{x}} </span> تحت الارض واسترها يوم العرض ولا تخزها يوم يبعثون "يوم لا ينفع مال ولا بنون إالا من أتي الله بقلب سليم"</li>
            <li>اللـهـم يمن كتابها ويسر حسابها وثقل بالحسنات ميزانها وثبت علي الصراط اقدامها واسكنها في اعلي الجنات بجوار حبيبك ومصطفاك (صل الله عليه وسلم) .</li>
            <li>اللـهـم اّمن <span> {{x}} </span> من فزع يوم القيامة ومن هول يوم القيامة وأجعل نفسها أّمنة مطمئنة ولقنها حجتها.</li>
            <li>اللـهـم اجعل <span> {{x}} </span> في بطن القبر مطمئنة وعند قيام الاشهاد أمنة وبجود رضوانك واثقة وإلي أعلي درجاتك سابقة .</li>
            <li>اللـهـم اجعل <span> {{x}} </span> عن يمينها نوراً حتي تبعثها اّمنًة مطمئنة في نور من نورك .</li>
            <li>اللـهـم انظر الي <span> {{x}} </span> نظرة رضا فإن من تنظر إليه نظرة رضا لا تعذبه ابداً.</li>
            <li>اللـهـم أسكن <span> {{x}} </span> فسيح الجنان واغفر لها يارحمن وارحم يارحيم وتجاوز عما تعلم ياعليم .</li>
            <li>اللـهـم اعفو عن <span> {{x}} </span> فإنك القائل "ويعفو عن كثير".</li>
            <li>اللـهـم ان <span> {{x}} </span> جاءت ببابك وأناخت بجنابك فَجْد عليها بعفوك وإكرامك وجود إحسانك .</li>
            <li>اللـهـم إن رحمتك وسعت كل شيء فارحمها رحمة تطمئن بها نفسها وتقر بها عينها.</li>
            <li>اللـهـم احشر <span> {{x}} </span> مع المتقين إلي الرحمن وفداً .</li>
            <li>اللـهـم احشر <span> {{x}} </span> مع اصحاب اليمين واجعل تحيتها سلام لك من أصحاب اليمين .</li>
            <li>اللـهـم بشر <span> {{x}} </span> بقولك "كلوا واشربوا هنئياً بما أسلفتم في الايام الخالية" .</li>
            <li>اللـهـم لا نزكيها عليك ولكنا نحسبه انها اّمنت وعملت صالحاً فاجعل له جنتين ذواتي أفنان بحق قولك: "ولمن خاف مقام ربه جنتان".</li>
            <li>اللـهـم شفع فيها نبينا ومصطفاك واحشرها تحت لوائه واسقها من يده الشريفة شربة هنيئة لا تظمأ بعدها ابداُُ .</li>
            <li>اللـهـم اجعل <span> {{x}} </span> في جنة الخلد التي وعد المتقون كانت جزاءً ومصيراُ لهم ما يشاءون وكان علي ربك وعداُ ومسئولاً .</li>
            <li>اللـهـم إن <span> {{x}} </span> صبرت علي البلاء فلم تجزع فامنحها درجة الصابرين الذين يوفون اجورهم بغير حساب فإنك القائل " إنما يوفي الصابرون أجرهم بغير حساب ".</li>
            <li>اللـهـم ان <span> {{x}} </span> كان تصلي لك ,فثبتها علي الصراط يوم تزل الاقدام .</li>
            <li>اللـهـم ان <span> {{x}} </span> كانت صائمت لك , فأدخلها الجنة من باب الريان.</li>
            <li>اللـهـم ان <span> {{x}} </span> كانت لكتابك تالية وسامعة فشفع فيها القراّن وارحمها من النيران ,واجعلها يارحمن ترتقي في الجنة إلي اّخر اّيه قرأتها أو سمعتها وأخر حرف تلته.</li>
            <li>اللـهـم ارزق <span> {{x}} </span> بكل حرف في القراّن حلاوة , وبكل كلمة كرامة وبكل اّيه سعادة وبكل سورة سلامة وبكل جْزءٍ جَزاءً .</li>
            <li>اللـهـم ارحم <span> {{x}} </span> فانها كانت مسلم واغفر لها فانها كانت مؤمنة وادخلها الجنة فانها كان بنبيك مصدقة وسامحها فانها كانت لكتابك مرتلة.</li>
            <li>اللـهـم ان <span> {{x}} </span> عبدك و ابن عبدك و ابن امتك ماتت و هي تشهد لك بالوحدانية و لرسولك بالشهادة فأغفر له إنك انت الغفار.</li>
            <li>اللـهـم لا تحرمنا اجرها ولا تفتنا بعدها و اغفر لنا و لها و اجمعنا معها في جنات النعيم يا رب العالمين .</li>
            <li>اللـهـم انزل علي اهله الصبر والسلوان و ارضهم بقضائك.</li>
            <li>اللـهـم ثبتهم علي القول الثابت في الحياه الدنيا وفي الاخرة ويوم يقوم الاشهاد.</li>
            <li>اللـهـم صل وسلم وبارك علي سيدنا محمد وعلي اّله وصحبه وسلم إلي يوم الدين.</li>
        </ul>
           
    </div>
   
</div>


<!-- <span> {{x}} </span>  -->