nav{
    background:#009949;padding: 0px 0px!important;
    div{
        ul{
            li{
                a{
                    font-size:18px;font-weight:bold !important;
                }
            }
        }
    }
    .navbar-toggler{
        box-shadow:none;outline:none;
    }
}
.activee{
    color:#FFD347!important;
}